.Navpage{
    text-align: center;
    margin: 1rem 0;
    font-family: 'inter', sans-serif;
}

.Navpage button{
    padding: 0 1rem;
    margin: 0 1rem;
    border-radius: 8px;
    font-size: 2rem;
    cursor: pointer;
}

.Navpage label{
    font-size: 2rem;
}

.Navpage button:hover{
    background-color: #AAA;
}